@use '../../contrib/basekit/scss/base/var/var_default';
// To override BaseKit tokens, switch to:
// @use '../../contrib/basekit/scss/base/var/var_default' with (
//   $brand-primary: #4b7bec,
//   $brand-accent: #ff3366,
//   $font-body: 'Inter', system-ui,
//   $siteg: 1.25em
// );
